<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32947103310-gpc2s0ckd97ph1rpe9vuiga5g8ojt472.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32947103310-gpc2s0ckd97ph1rpe9vuiga5g8ojt472</string>
	<key>API_KEY</key>
	<string>AIzaSyAmRU_DtLFnu0NeZDJg5eY9NnjM4XNA7D8</string>
	<key>GCM_SENDER_ID</key>
	<string>32947103310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abhishek.sentimentanalysisdashboard</string>
	<key>PROJECT_ID</key>
	<string>sentiment-analysis-dashb-54f43</string>
	<key>STORAGE_BUCKET</key>
	<string>sentiment-analysis-dashb-54f43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32947103310:ios:fc93cfc4330f1d1f04851f</string>
	<key>DATABASE_URL</key>
	<string>https://sentiment-analysis-dashb-54f43.firebaseio.com</string>
</dict>
</plist>